/* fonts */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html {
    background-color: rgba(122, 191, 191, .5);
}
body {
    width: 414px;
    background-color: #F2F2F2;
    color: #0D0D0D;
    margin: 0px auto;
}
h1 {
    font: 40px "Bebas Neue", sans-serif;
}
h2 {
    font: 30px "Bebas Neue", sans-serif;
}
h3 {
    font: 25px "Bebas Neue", sans-serif;
}
dt {
    font: 16px "Montserrat", sans-serif;
    font-weight: bold;
}
dd {
    font: 16px "Montserr